



// 多個垂直合併
.horizontal-accordion-wrapper02 {//整體元件
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px; //設定寬度
  
  .horizontal-accordion-item {
    display: flex;
    align-items: stretch;//確保子元素同等高
    border: 2px solid #ff9800; //整體外框顏色
    overflow: hidden;

    .horizontal-accordion-header {
      background-color: #ffe0b2;//標題背景顏色
      color: #e65100;//標題字體顏色
      padding: 1rem;
      width: 200px;
      height: 200px;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      user-select: none;//標題文字無法被選取
    }

    .horizontal-accordion-body {
      width: 0;
      overflow: hidden;
      background-color: #fff3e0;
      transition: width 0.5s ease-in-out, height 0.5s ease-in-out, opacity 0.5s ease-in-out;
      opacity: 0;

      &.open {//設定開啟時的寬度
        height: 600px;
        width: 400px;
        opacity: 1;
      }

      &.closing {//設定關閉時的寬度
        height: 600px;
        width: 0px;
        opacity: 0;
      }

      .accordion-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}