

/* 客製化整體手風琴 */

/* 元件最外圍 */
.custom-ReactAccordion {
    max-width: 600px;
    height: auto;
    border: 2px solid #ff5722; // 橘色外框
    border-radius: 10px;
    background-color: #fff3e0; // 淺橘色背景
    padding: 1rem;

    /* 元件項目外圍 */
    .custom-ReactAccordionItem {
        border: none; // 移除原本邊框

        /* 元件標頭 */
        .custom-ReactAccordionHeader {

            /* 元件標頭內部樣式 */
            .accordion-button {
                /*未展開時元件標頭設定*/
                background-color: burlywood; //按鈕背景顏色
                color: #424242; //按鈕字體顏色
                box-shadow: none; // ✅ 移除點擊時的藍色外框陰影
                outline: none;     // ✅ 移除可能的 outline
                font-size: 1.5rem; //文字設定
                font-weight: bold; //文字設定
                padding: 1rem; 
                

                &:not(.collapsed) {
                    /*展開時元件標頭設定*/
                    /*在custom-ReactAccordion之下的.accordion-button在沒有.collapsed狀態下套用以下設定*/
                    background-color: #ff00b3; // 展開時背景顏色
                    color: #1bbf0c; // 展開時字體顏色
                }
            }
        }

        /* 元件本體 */
        .custom-ReactAccordionBody {
            background-color: #700101; // 內容背景顏色
            color: #6200ff;            // 內容字體顏色
            font-size: 1.1rem;
            padding: 1.5rem;
            border-radius: 0 0 10px 10px;
        }
    }
}