
// 測試用模擬最外層
.testDropdownBox{
  width: 600px;
  // 元件最外層
  .CustomDropdown{

      /* 元件標頭 */
      .DropdownHeader{
        
        //移除小箭頭
        &.dropdown-toggle::after{
          content: "";
          display: none;
        }
        //移除小箭頭

        // 要放置的元件位置
        .key{
          border: 2px solid #000000;
          color: #000000;
          background-color: #ffffff;
          //寬度以元件最外層為準
          width: 100%;
          padding: 0.75rem 1rem;
          border-radius: 8px;
          font-size: 16px;
          cursor: pointer;
          text-align: center;
        }
        // 要放置的元件位置
      }
      
      /* 下拉元件範圍 */
      .dropdownMenuSet{
        //寬度以元件最外層為準
        width: 100%;
        //position以元件最外層為準
        padding: 0px;
        display: none;
        &.show{
          display: flex;
          flex-direction: column;
          transform: translate(0px, 80px);
        }
        /* 內部選項設定 */
        .menuItemSet {
          width: 100%;
          background-color: rgb(0, 0, 0);
          color: #ffffff;
          font-size: 16px;
          border-radius: 8px;
          cursor: pointer;
          padding: 0px;
          &:hover {
            background-color: #f0f0f0;
            color: #000000;
          }
        }
      }
      /* 下拉元件範圍 */
  }

}




