

.pagination .page-link {
    /* 可設定長寬 */
    cursor: pointer;
    color: #007bff;
    transition: background-color 0.2s;
  }
  
  .pagination .page-item.active .page-link {
    /* 這是點選後的狀態 */
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: white;
  }
  