

// 元件最外圍
.MessageItemBox{
    border: 2px solid #000000;
    padding: 30px;
    border-radius: 8px;
    background-color: #2e2e2e;
    background: linear-gradient(
            to bottom, 
            rgba(0, 0, 0, 0.5) 0%,    /* 上：完全透明 */
            rgb(0, 0, 0) 100%  /* 下：純紅色 */
        );
    // 訊息項目本體
    .messageItem{
        width: 100%;
        height: auto;
        padding: 12px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        border-bottom: 2px solid rgb(214, 214, 214);

        // 類別設定
        .class{
            transform: skew(-15deg);
            font-size: clamp(16px, 1.5vw, 20px);
            padding: 0px 2%;
            border-radius: 4px;
            white-space: nowrap;//取消文字自動換行

            &.system{
                color: rgb(49, 49, 49);
                background-color: rgb(177, 177, 177);
            }

            &.activity{
                color: rgb(255, 255, 255);
                background-color: rgb(254, 90, 149);
            }

            &.gamenews{
                color: rgb(49, 49, 49);
                background-color: rgb(109, 220, 237);
            }
        }
        // 類別設定

        // 內容設定
        .content{
            max-width: 60%;
            margin-right: auto;
            color: rgb(223, 223, 223);
            font-size: clamp(16px, 1.5vw, 20px);
            white-space: nowrap;//取消文字自動換行
            overflow: hidden;
            text-overflow: ellipsis;//將多餘文字改為...
        }
        // 內容設定

        // 時間捨定
        .time{
            color: rgb(223, 223, 223);
            font-size: clamp(16px, 1.5vw, 20px);
            white-space: nowrap;//取消文字自動換行
        }
        // 時間捨定
    }
    // 訊息項目本體
}
// 元件最外圍