


.SwiperWithTab{

    //最外框
    .appTabs {
        width: 100%;
        min-height: 50vh;
        background-color: #e2e493;
        /* Tab 選單區 */
        .tabBox {
            border: 2px solid #000000;
            
            /* 選項按鈕外層 */
            .tabItem {
                border: 2px solid red;
                display: flex;
                /* 選項按鈕本體 */
                .tabLink {
                    color: #000000;
                    /* hover 狀態*/
                    &:hover {
                        color: #ffffff;
                        background: #0d6efd;
                    }

                    /* active 狀態 */
                    &.active {
                        color: #fff;
                        background: #0d6efd;
                    }

                    /* disabled 狀態 */
                    &.disabled {
                        opacity: 0.5;
                        cursor: not-allowed;
                        pointer-events: none;
                    }
                }
                /* 選項按鈕本體 */
            }
            /* 選項按鈕外層 */
        }
         /* Tab 選單區 */

        /* Tab 內容區 */
        .tabContent {

            /* 內容外層（.tab-pane） */
            .tabPane.swiperContentBox{
                width: 100%;
                height: 50vh;
                background-color: #92b8f0;
                
                /* 元件最外圍 */
                .swiper{
                    position: relative;
                    height: 50vh;
                    //輪播本體
                    .swiperSlide{

                        /* 輪播片內容 */
                        .slide-item {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        /* 輪播片內容 */
                    }
                    //輪播本體
                }
                /* 元件最外圍 */
                
            }
        }

        // 外部按鈕區
        .btnContentBox{
            width: 50%;
            height: 10%;
            border: 2px solid #000000;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 48px;

            // 左右按鈕設定
            .prevBtn,.nextBtn{
                display: none;
                width: 10%;
                height: auto;
                aspect-ratio: 2 / 1;
                
                border-radius: 4px;
                background-position: center 0;      /* 左上角 */
                background-size: 100% 200%;    /* 寬度填滿，高度等比 */
                background-repeat: no-repeat;
                cursor: pointer;

                &:hover {
                    background-position-y: 100%;
                }

                &.active{
                    display: block;
                }

                &.red{
                    border: 2px solid #ff0000;
                }

                &.blue{
                    border: 2px solid #006eff;
                }

                &.block{
                    border: 2px solid #000000;
                }
            }
            // 左右按鈕設定

            // 左按鈕
            .prevBtn{
                background-image: url('/images/swiper/搭配tab元件swiper範例/brandPrev.png');
            }
            // 左按鈕

            // 右按鈕
            .nextBtn{
                background-image: url('/images/swiper/搭配tab元件swiper範例/brandNext.png');
            }
            // 右按鈕

            //pagination設定
            .PaginationBox{
                display: none;
                width: 30%;
                height: auto;
                aspect-ratio: 4 / 1;
                border: 2px solid #ff0000;

                &.active{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;
                    .swiper-pagination-bullet{
                        display: block;
                        &.swiper-pagination-bullet-active{
                            background-color: #4fe5fb;
                        }
                    }
                }

                .swiper-pagination-bullet {
                    display: none;
                    width: 12px;
                    height: auto;
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                    background-color: #616161;
                    opacity: 1;
                    border: 1 solid #000;
                    cursor: pointer;
                }
            }
            //pagination設定
        }
        // 外部按鈕區

        // 輪播片數量
        .swiperNum{
            width: 50%;
            height: auto;
            border: 1px solid black;
        }
        // 輪播片數量
    }
    //最外框
}