

.圖片刪除{

    .圖片刪除box{

        .allImgBox{
            width: 100%;
            height: auto;
            border: 1px solid black;
            border-radius: 12px;
            padding: 12px;
            display: flex;

            .imgBox{
                border-radius: 8px;
                border: 1px solid black;
                width: 20%;
                height: auto;
                .imgSet{
                    border-radius: 8px;
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }
}