
.通道影片範例{
    width: 100%;
    height: auto;
    min-height: 50vh;

    // 元件最外框
    .videoBox{
        width: 100%;
        height: auto;
        aspect-ratio: 1920 / 1080;
        position: relative;
        .show3DBox{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            border: 1px solid red;
            width: 100%;
            height: 100%;
            background-color: transparent;
        }
    }
    // 元件最外框
    
}
