

// 元件最外層
.pagination{
  display: flex;
  justify-content: end;
  align-items: center;
  gap:8px;

    // 頁碼外圍
    .page-item {

        //頁碼禁按狀態
        &.disabled{
            background-color: #ececec;
            //頁碼內部的icon
            .material-symbols-outlined{
                color: #909090;
            }
            //頁碼內部的icon
        }
        //頁碼禁按狀態

        //被選擇的狀態
        &.active{

            .page-link{
                background-color: #0d6efd;
                border-color: #0d6efd;
                color: white;
            }
        }
        //被選擇的狀態


        //頁碼本體
        .page-link{
            cursor: pointer;
            color: #007bff;
            display: flex ;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            //頁碼內部的icon
            .material-symbols-outlined{
                font-size: 24px;
            }
            //頁碼內部的icon
        }
        //頁碼本體
    }
    // 頁碼外圍

}
// 元件最外層
  