


.文章系統伺服器端架設{

    .imgBox{
        width: 100%;
        height: auto;
        .imgSet{
            max-width: 100%;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}