

.bg01{
    position: relative;
    width: 100%;
    height: 100vh;
    border: 3px solid #000000;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: end;

    .bgImg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .downBox{
        width: 100%;
        height: 30%;
        background: linear-gradient(
            to bottom, 
            rgba(255, 0, 0, 0) 0%,    /* 上：完全透明 */
            rgba(255, 0, 0, 1) 100%  /* 下：純紅色 */
        );
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .contentBox{
            width: 80%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            .leftBox{
                width: 100%;
                height: 100%;
                background-color: aquamarine;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 24px;
                padding: 10px;
                overflow: hidden;
                .imgBox{
                    width: 100%;
                    height: auto;
                    aspect-ratio: 1 / 1;
                    .imgSet{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .textBox{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: start;
                    aspect-ratio: 1 / 1;
                    overflow: hidden;
                    .textSet01{
                        font-size: 24px;
                        color: #000000;
                    }
                    .textSet02{
                        font-size: 16px;
                        color: #000000;
                    }
                    .btnSet{
                        border: 1px solid #000000;
                        border-radius: 40px;
                        padding: 8px 24px;
                        font-size: 10px;
                    }
                }
            }

            .midBox{
                width: 100%;
                height: 100%;
                background-color: aquamarine;
            }

            .rightBox{
                width: 100%;
                height: 100%;
                background-color: aquamarine;
            }
        }
        
    }
}