
// 範例一
// 跑馬燈外框
.MarqueePage {
  width: 500px;
  height: 300px;
  overflow: hidden;
  border: 1px solid red;

    // 跑馬燈內容
    .track {
        width: 200%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        animation: marqueeImgX 2s linear infinite;
        
        //內容外框
        .box{
            border: 1px solid blue;
            width: 100%;
            height: auto;
            //內容本體
            .imgSet {
                width: 100%;
                height: auto;
            }
            //內容本體
        }
        //內容外框
    }
    // 跑馬燈內容
}
// 跑馬燈外框

@keyframes marqueeImgX {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes marqueeImgY {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}
// 範例一

// 範例二
// 外框
.outBox{
    border: 1px solid red;
    border-radius: 8px;
    width: 50%;
    height: auto;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    // 跑馬燈外框
    .MarqueePage02 {
        width: 100%;
        height: 10%;
        overflow: hidden;
        // 跑馬燈內容
        .track {
            width: 200%;
            height: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            animation: marqueeImgX 2s linear infinite;
            // 內容外框
            .contentBox{
                width: 100%;
                height: 100%;
                background-image: url('public/images/Marquee/範例二/eggBottom.png');
                // 自動調整重複次數，頭尾完整
                background-repeat: round;
                //以容器高度為準
                background-size: auto 100%;
            }
        }
    }
    // 跑馬燈外框

    .flexBox{
        width: 100%;
        height: 90%;
        display: flex;
        gap: 12px;
        // 跑馬燈外框
        .MarqueePage03 {
            flex: 0 0 auto;
            width: 10%;
            height: 100%;
            overflow: hidden;
            // 跑馬燈內容
            .track {
                width: 100%;
                height: 200%;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                animation: marqueeImgY 2s linear infinite;
                // 內容外框
                .contentBox{
                    width: 100%;
                    height: 100%;
                    background-image: url('public/images/Marquee/範例二/eggBottom.png');
                    // 自動調整重複次數，頭尾完整
                    background-repeat: round;
                    //以容器寬度為準
                    background-size: 100% auto;
                }
            }
        }
        // 跑馬燈外框

        .inBox{
            position: relative;
            flex: 1 1 0;
            border: 2px solid #000000;
            margin: 30px;
            overflow: hidden;

            .MarqueeBox{
                z-index: 2;
                position: absolute;
                top: 0;
                left: 20%;
                width: 100%;
                height: 100%;
                background-color: transparent;
                display: flex;
                justify-content: end;
                align-items: center;
                //旋轉角度
                transform: rotate(-25deg);
                //旋轉中心頭（left）尾（right）上（top）下（bottom）中（center）
                transform-origin: center;

                // 跑馬燈外框
                //不管旋轉幾度佔據的空間還是會以當初宣告的為準
                .MarqueePage04 {
                    border: 2px solid rgb(38, 0, 255);
                    width: 10%;
                    height: 100%;
                    overflow: hidden;
                    //旋轉角度
                    //transform: rotate(-10deg);
                    //旋轉中心頭（left）尾（right）上（top）下（bottom）中（center）
                    //transform-origin: center;
                    // 跑馬燈內容
                    .track {
                        width: 100%;
                        height: 200%;
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        align-items: center;
                        animation: marqueeImgY 4s linear infinite;
                        // 內容外框
                        .contentBox{
                            width: 100%;
                            height: 100%;
                            background-image: url('public/images/Marquee/範例二/eggBottom.png');
                            // 自動調整重複次數，頭尾完整
                            background-repeat: round;
                            //以容器寬度為準
                            background-size: 100% auto;
                        }
                    }
                }
                // 跑馬燈外框
            }

            .testBox02{
                position: relative;
                z-index: 1;
                width: 100%;
                height: 20%;
                background-color: red;
            }

            

            .testBox03{
                width: 100%;
                height: 20%;
                background-color: rgb(14, 14, 14);
            }
        }
    }
    
}
// 外框

