

.資料庫雲端NEON{
    width: 100%;
    height: auto;

    .imgSet{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .contentBox{
        display: flex;
        flex-direction: column;
        gap: 12px;
        .textGroup{
            display: flex;
            flex-direction: column;
        }
    }
}