
/* 元件最外圍 */
.雜訊介面範例{

    .BGset {
        border: 1px solid red;
        position: relative;
        overflow: hidden;   // 讓背景不超出容器
        width: 100%;
        min-height: 50vh;
        height: 50vh;
        .videoSet {
            position: absolute;
            inset: 0;          // top:0; right:0; bottom:0; left:0;
            z-index: 0;       // 當背景（或用更小層級）

            .bgVideo {
                width: 100%;
                height: 100%;
                object-fit: cover; // 跟背景圖 cover 一樣，充滿且裁切
                pointer-events: none; // 避免擋到前景點擊
                border-radius: 8px;
            }
        }

        .content {
            background-color: transparent;
            position: relative; // 疊在影片上面
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            .textSet{
                color: #ffffff;
            }
        }
    }
}

/* 元件最外圍 */






