

.星際穿梭特效展示{
    width: 100%;
    height: calc(100dvh - 70px);
    background-color: rgb(228, 199, 162);
    position: relative;
    
    //元件最外圍
    .ThreeJsBox{
        width: 500px;
        height: 500px;
        border: 1px solid red;
        border-radius: 12px;
        padding: 10px;
        background-color: rgb(71, 71, 71);
        position: relative;

        //顯示模型元件
        .ThreeJs{
            background-color: transparent;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
        //顯示模型元件
    }
    //元件最外圍

}