

.DefaultReact{

    .imgBox{
        width: 100%;
        .imgSet{
            display: block;
            margin: 0 auto;
            width: 80%;
            height: auto;
            aspect-ratio: 4 / 3;
            border-radius: 8px;
        }
    }
}