
// 最外圍
.ExampleBox{
  border: 1px solid #000000;
  padding: 30px;

  

  // 搜尋欄範例
  .searchBar {
    width: 100%;
    max-width: 600px;
    height: 40px;
    background-color: #ffffff; // 白色底
    border: 1px solid #ccc; // 淺灰框
    box-shadow: none;
    outline: none;
    border-radius: 999px; // 全圓
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    //input區塊
    .searchInput {
      width: 100%;
      height: 100%;
      padding-left: 16px;
      font-size: 16px;
      border: none;
      background: transparent;
      &::placeholder {
        color: #888; // placeholder 顏色
      }

      &:focus {
        outline: none;
      }
    }
    //input區塊

    //按鈕區塊
    .searchBtn {
      width: 50px;
      height: 100%;
      border: none;
      background: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: #444;

      &:hover {
        background-color: #4e4e4e; // hover 微亮

        .iconSet{
          color: #ffffff;
        }
      }
    }
    //按鈕區塊
  }
  // 搜尋欄範例


  //頁碼元件相關
  .showBox{
    width: 100%;
    height: 300px;
    border: 1px solid red;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    .itemBox{
      width: 10%;
      height: 40%;
      border: 2px solid blue;
    }
  }
  //頁碼元件相關
  
}
// 最外圍



  