

/* 最外框模擬外圍容器 */
.wrap {
    position: relative;
    padding: 16px;

    //視窗容器    
    .scroll-panel {
        border: 2px solid red;
        height: 50vh;          /* 固定視窗高度 */
        overflow: auto;        /* 在這個容器內捲動 */
        background: #fafafa;
        position: relative;

        
            
            //內容
            .box{
                background-color: #ffffff;
                width: 100%;
                height: 100vh;
                display: flex;
                flex-direction: column;
                border: 5px solid rgb(116, 116, 116);
                .box01{
                    display: flex;
                    .box01-1,.box01-2{
                        width: 100%;
                        margin: 30px;
                        background-color: aqua;
                        min-height: 200px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                }
                .box02{
                    margin: 30px;
                    flex: 1 1 0;
                    padding: 30px;
                    background-color: red;
                    border: 5px solid black;
                }

                .box03{
                    flex: 1 1 0; 
                    margin: 30px;
                    padding: 30px;
                    background-color: rgb(0, 47, 255);
                    border: 5px solid black;
                }
            }
         
    }
}
/* 最外框模擬外圍容器 */

// 元件外框
.motionBox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
// 元件外框




