


.ThreeJsBox{
    width: 500px;
    height: 500px;
    border: 1px solid red;
    border-radius: 12px;
    padding: 10px;
    
    .ThreeJs{
        width: 100%;
        height: 100%;
        background-color: transparent;
        background-image: url('/images/test/bg.jpg');
        background-position-y: 0%;
        background-position-x: 0%;      /* 左上角 */
        background-size: 100% 100%;    /* 寬度填滿，高度等比 */
        background-repeat: no-repeat;
    }
}