
.EstimatePageMain3-form-right-box{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    @media (max-width: 992px){
        gap: 0px;
    }
    .EstimatePageMain3-group-box{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: row;
        gap: 40px;
        @media (max-width: 992px){
            flex-direction: column;
            gap: 12px;
        }
        .groupLabel-set{
            min-width: 120px;
            font-size: 24px;
            font-weight: 700;
            color: #ff0000ff;
        }

        .EstimatePageMain3-groupBody-box{
            position: relative;
            width: 100%;
            .groupBody-set{
                width: 100%;
                background-color: #ff8787;
                font-size: 24px;
                font-weight: 700;
                padding: 26px 36px;
                color: #000000;
                border: 1px solid #ff00c8;
                border-radius: 4px;
                @media (max-width: 992px){
                    font-size: 16px;
                    padding: 16px 24px;
                }
            }

            .group-btn-box{

                .addBtn-set,.subBtn-set{
                    position: absolute;
                    z-index: 10;
                    left: 93%;
                    transform: translate(-50%,-50%);
                    border: none;
                    background-color: transparent;
                    @media (max-width: 992px){
                        left: 95%;
                    }
                    .addBtn-img-set,.subBtn-img-set{
                        max-width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }

                .addBtn-set{
                    top: 35%;
                    .addBtn-img-set{

                    }
                }

                .subBtn-set{
                    top: 65%;
                    .subBtn-img-set{

                    }
                }
            }
        }
    }
}